* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#062146ec, #062146f6),
    url(./assets/image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  cursor: none;

  #focus {
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    background: url(./assets/image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
