* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
  overflow-x: hidden;
  background: #002339;
  background-repeat: no-repeat;

  @media screen and (width <= 768px) {
    place-content: unset;
    padding: 1em;
    overflow: hidden;
  }

  & #container {
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.104) 0px 50px 100px -20px,
      rgba(255, 255, 255, 0.115) 0px 30px 60px -30px;
    background: #666;
    background-image: url(./assets/netherlands.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    margin-inline: auto;
    transition: 0.5s ease-in;

    @media screen and(width<=1500px) {
      width: 90vw;
      height: 90vh;
    }

    @media screen and (width <= 1130px) {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }

    @media screen and (width <= 768px) {
      height: 50vh;
      width: 95vw;
    }

    & #content {
      margin-left: 2em;
      margin-top: 2em;
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 2em;

      @media screen and (width <= 768px) {
        gap: 0.5em;
      }

      & .details.show {
        animation: 0.7s show-content ease-in 1;

        &:nth-child(2) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.3s;
        }
      }

      & :is(h1, p) {
        color: #fff;
      }

      & h1 {
        font-size: 3em;

        @media screen and (width <= 1500px) {
          font-size: 2.5em;
        }

        @media screen and (width <= 768px) {
          font-size: 1.3em;
        }
      }

      & p {
        font-size: 1.5em;

        @media screen and (width <= 1500px) {
          font-size: 1.2em;
        }

        @media screen and (width <= 768px) {
          font-size: 1em;
          width: 150%;
        }
      }

      & button {
        font-size: 1.2em;
        padding: 0.5em 2.5em;
        width: fit-content;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background-color: #ddd;
          transform: scale(1.07);
        }

        @media screen and (width <= 768px) {
          padding: 0.3em 1.5em;
          font-size: 0.8em;
        }
      }
    }

    & #sliders {
      display: flex;
      column-gap: 2em;
      justify-content: flex-start;
      align-items: center;
      height: 30%;
      position: absolute;
      top: 30%;
      bottom: 30%;
      right: -9%;

      @media screen and (width <= 1500px) {
        right: -5%;
      }

      @media screen and (width <= 1130px) {
        position: static;
        align-self: center;
      }

      @media screen and (width <= 768px) {
        position: absolute;
        bottom: calc(-100% - 220px);
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        height: fit-content;
        column-gap: 1em;
      }

      & .imageslider {
        height: 100%;
        width: 250px;
        border-radius: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        box-shadow: rgba(210, 210, 210, 0.15) 0px 2px 8px;

        @media screen and (width <= 1500px) {
          height: 250px;
          width: 200px;
        }

        @media screen and (width <= 768px) {
          height: 200px;
          width: 120px;
        }

        @media screen and (width <= 450px) {
          height: 150px;
          width: 100px;

          &:last-child {
            margin-right: 10px;
          }
        }

        &.add {
          animation: 1s add-slide ease-in 1;
        }

        &.remove {
          animation: 1s remove-slide ease-in 1;
        }
      }
    }

    & #controls {
      position: absolute;
      bottom: 1.5em;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      display: flex;
      gap: 1em;

      @media screen and (width<=1130px) {
        bottom: 0.5em;
      }

      @media screen and (width<=768px) {
        bottom: -2.5em;
      }

      & i {
        background: #fff;
        padding: 0.5em;
        font-size: 1.5em;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: rgba(121, 120, 120, 0.25) 0px 54px 55px,
          rgba(136, 136, 136, 0.12) 0px -12px 30px,
          rgba(140, 140, 140, 0.12) 0px 4px 6px,
          rgba(140, 140, 140, 0.17) 0px 12px 13px,
          rgba(132, 132, 132, 0.09) 0px -3px 5px;
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.04);
          background-color: #ddd;
        }

        &:active {
          background-color: #fff;
          transform: scale(1);
        }

        @media screen and (width<=1130px) {
          font-size: 1em;
        }
      }
    }
  }
}

@keyframes add-slide {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remove-slide {
  from {
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

@keyframes show-content {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
