* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #333;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;

  & .container {
    background: #fee5e7;
    border-radius: 5px;
    padding: 2.5em 2em;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    position: relative;
    overflow: hidden;

    @media screen and (width <=768px) {
      width: inherit;
      height: inherit;
    }

    & #menu {
      position: absolute;
      right: 15px;
      top: 15px;
    }

    & #music-list {
      padding: 10px;
      width: 230px;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0 8px 32px 0 rgba(118, 119, 135, 0.37);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      position: absolute;
      left: -235px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
      transition: 0.3s ease;
      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #fdebec;
      }
      &::-webkit-scrollbar-thumb {
        background: #ff68a7;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
      }

      & #user-musics {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        padding-inline: 5px;
      }

      & .music {
        padding: 1em;
        color: #333;
        border: 1px solid #aaa;
        text-transform: capitalize;
        border-radius: 5px;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: #ffffffcd;
        }
      }

      & input {
        display: none;
      }

      & button {
        position: sticky;
        top: 5px;
        width: calc(100% - 20px);
        padding: 10px;
        font-weight: 600;
        font-size: 1em;
        background-color: #ff68a7;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 3px 3px rgba(255, 26, 26, 0.22);
        transition: 0.3s ease;

        &:hover {
          background-color: #f53192;
          cursor: pointer;
        }
      }
    }

    & i {
      color: #ff68a7;
      display: grid;
      place-content: center;
      padding: 1.3em;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 3px 3px rgba(255, 26, 26, 0.22);
      position: relative;
      transition: 0.3s ease;

      &.fa-arrows-up-to-line {
        transform: rotate(90deg);
      }
    }

    & .music-image {
      height: 170px;
      width: 170px;
      margin-top: 3em;
      border: 8px solid #fff;
      border-radius: 50%;
      align-self: center;
      overflow: hidden;
      box-shadow: 0 3px 3px rgba(255, 26, 26, 0.22);

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & #music-name {
      font-weight: 600;
      font-size: 1.5em;
      text-align: center;
      text-transform: capitalize;
    }

    & .music-box {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;

      & i {
        color: #fff;
        background-color: #ff68a7;
      }

      & .play-type-box {
        position: relative;

        & #play-type-text {
          width: max-content;
          position: absolute;
          z-index: 5;
          bottom: -25px;
          left: 50%;
          transform: translate(-50%);
          font-size: 11px;
          padding: 5px;
          text-align: center;
          background-color: #fff;
          box-shadow: 0 3px 3px rgba(255, 26, 26, 0.22);
          color: #ff68a7;
          font-weight: 600;
          border-radius: 5px;
        }
      }

      & input {
        appearance: initial;
        -webkit-appearance: none;
        outline: none;
        border: none;
        height: 6px;
        background: #f53192;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #f53192;
          border: 5px solid #fff;
          box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
        }

        &#music-progress {
          width: 100%;
        }

        &#sound-progress {
          position: absolute;
          top: -75px;
          left: -42px;
          display: none;
          opacity: 0;
          width: 0;
          transform: rotate(-90deg);
          transition: 0.3s ease;

          &.active {
            opacity: 1;
            display: block;
            width: initial;
          }
        }
      }

      & .music-progress {
        padding-top: 20px;
        width: 100%;

        & .song-time {
          margin-top: 10px;
          margin-right: 10px;
          text-align: right;
          font-size: 13px;
          font-weight: 600;
        }
      }

      & .sound-box {
        position: relative;
      }
    }

    & #music-control {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5em;

      & :is(.fa-play, .fa-pause) {
        color: #fff;
        background: #ff68a7;
      }
    }
  }
}
