@import url("https://fonts.googleapis.com/css2?family=Kenit:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: #222;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & a {
      position: relative;
      line-height: 1em;
      font-size: 4rem;
      text-decoration: none;
      color: #fff;
      overflow: hidden;

      @media screen and (width <= 768px) {
        font-size: 2rem;
      }

      &:hover span .out {
        transform: translateY(-100%);
      }

      &:hover span .in {
        transform: translateY(0);
      }

      & span {
        position: relative;
        transition: 0.5s;

        & .out {
          display: inline-flex;
        }

        & .in {
          position: absolute;
          left: 0;
          color: #2aa1ff;
          transform: translateY(100%);
        }
      }
    }
  }
}
