* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background: #e3edf7;

  & .container {
    width: 160px;
    height: 160px;
    position: relative;

    & svg {
      position: absolute;
      top: 0;
      left: 0;

      & circle {
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        /* stroke-dashoffset: 200; */
        animation: load 3s linear forwards;
      }
    }

    & .outer {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      padding: 19px;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

      & .inner {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
          inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
          -0.5px -0.5px 0px rgba(255, 255, 255, 1),
          0.5px 0.5px 0px rgba(255, 255, 255, 1),
          0px 12px 10px -10px rgba(0, 0, 0, 0.05);

        & #number {
          font-weight: 600;
          color: #555;
        }
      }
    }
  }
}

@keyframes load {
  100% {
    stroke-dashoffset: 165;
  }
}
