* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
body {
  background: rgb(47, 49, 51);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}
#container {
  padding: 10px;
  width: fit-content;
  border: 1px solid;
  border-radius: 25px;
  overflow: hidden;
  background: white;
}
h1,
h3 {
  color: #333;
}
p {
  color: #666;
}
.info {
  display: flex;
}
.text {
  margin-inline: 15px;
}
